.about {
    font-size: 1.3rem;
}

.team-card {
    background-color: #ffffff1c !important;
    color: #fff !important;
    box-shadow: none !important;
}

.heading {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0.4px;

    margin-bottom: 20px;
    color: #ffffff;
}
