@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: light dark !important;
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: #fefefe !important;
}

body,
html,
span,
button {
    font-family: 'Montserrat', sans-serif !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;

    font-synthesis: none !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-text-size-adjust: 100% !important;
    color: #353e54;
    margin: 0px;
}
