.action-card-description {
    text-align: left;
    width: 80%;
    overflow: auto;
    text-overflow: ellipsis;
    max-height: 10em;
}

#action-card-fab {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1em;
    margin-right: 1em;
}

#action-card {
    max-height: 18em;
    max-width: 32em;
    border-radius: 1.6em;
    margin-bottom: 1.8em;
    aspect-ratio: 3/2;
    position: relative;
}

#action-card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}
