.floating-btn {
    border-radius: 20px !important;
    width: 13em !important;
    position: fixed !important;
    bottom: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #6370e4 !important;
    color: white !important;
    text-transform: none !important;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
    z-index: 1;
}

.card-header {
    color: white;
    font-weight: 600 !important;
    font-size: 0.8em;
    float: left;
    text-align: left;
    position: relative;
}

.card-header::after {
    content: '';
    position: absolute;
    bottom: -0.3em;
    left: 0;
    width: 80%;
    height: 0.1em;
    background-color: white;
    opacity: 0.3;
}

.action-card {
    box-shadow: none !important;
    background-color: #727ee5 !important;
    border-radius: 20px !important;
    font-weight: 500 !important;
    margin-top: 1rem !important;
    min-height: 12em !important;
    min-width: 16em !important;
}

.card-description {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: white;
}
