.modalContentCenter,
.modalNumber,
.buttonGroup {
    text-align: center;
    margin: 1rem;
    font-weight: 500;
}

.register-form-container {
    margin-top: 30vh;
    transform: translateY(-50%);
}

.buttonGroup button {
    margin: 0.5rem;
    text-transform: none;
}

/* Choose your workout component section */
.chooseWorkoutButtonGroup {
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.chooseWorkoutButton {
    height: 2rem;
    overflow: hidden;
    margin: 0.35em !important;
    border: 1px solid #6370e4 !important;
    border-radius: 40px !important;
    font-size: 0.7em !important;
}

/* Set goal section */
.goalForm {
    text-align: left;
    width: 100%;
}

.setFitnessInput {
    text-align: left;
}

/* Set Fitness Profile section */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fitnessForm > :not(style) {
    width: 25ch;
    padding: 2px;
}

.date-picker-container {
    position: relative;
    font-family: 'MontSerrat', sans-serif !important;
}

.date-picker-input {
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.date-picker-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.date-picker-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 8px;
}

.date-picker-overlay input[type='date']::-webkit-inner-spin-button,
.date-picker-overlay input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.date-picker-overlay input[type='date'] {
    display: block;
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 0;
    font-size: 16px;
}

.date-picker-overlay button {
    display: block;
    margin: 8px auto;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
}

.date-picker-overlay button:hover {
    background-color: #007bff;
    color: #fff;
}
