.login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 1.5rem;
    padding: 2rem;
    overflow-y: scroll;
    max-height: 80%;
}

.form-container {
    padding: 1.5em;
}

.login-btn {
    border-radius: 20px !important;
    background-color: #6370e4 !important;
    color: white !important;
    text-transform: none !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
}

.login-form {
    padding: 1.5em !important;
}
