.floating-btn {
    border-radius: 20px !important;
    position: fixed !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) !important;
    background-color: #6370e4 !important;
    color: white !important;
    text-transform: none !important;
    font-size: 1em !important;
    box-shadow: none !important;
}

.card-header {
    color: white;
    font-weight: 600 !important;
    font-size: 0.8em;
    float: left;
    text-align: left;
    position: relative;
}

.card-header::after {
    content: '';
    position: absolute;
    bottom: -0.3em;
    left: 0;
    width: 80%;
    height: 0.1em;
    background-color: white;
    opacity: 0.3;
}

.action-card {
    background-color: #727ee5 !important;
    opacity: 0.95;
    border-radius: 20px !important;
    min-height: 10em;
    min-width: 16em;
    margin-top: 2em;
    max-height: 15em;
    max-width: 32em;
    margin-bottom: 1.8em;
    aspect-ratio: 3/2;
}

.card-description {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: white;
}

.card-floating-btn {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    margin: 1rem !important;
    cursor: pointer !important;
}
