#landing-page {
    background-image: url('Line.png');
    background-repeat: no-repeat;
    padding: 2rem;
}

section {
    text-align: center;
}

section h1 {
    font-size: 4rem;
    display: block;
}

section p {
    font-size: 1.2rem;
    font-weight: 500;
}

.carousel {
    position: relative;
    width: 23rem;
    height: 23rem;
    perspective: 500px;
    transform-style: preserve-3d;
}

.card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--offset) * 50deg))
        scaleY(calc(1 + var(--abs-offset) * -0.4))
        translateZ(calc(var(--abs-offset) * -30rem))
        translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
    border-radius: 1rem;
    color: #9ca3af;
    text-align: justify;
    transition: all 0.3s ease-out;
}

.nav {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
}

.nav .left {
    transform: translateX(-100%) translatey(-50%);
}

.nav .right {
    right: 0;
    transform: translateX(100%) translatey(-50%);
}
