#landing-page {
    background-image: url('Line.png');
    background-repeat: no-repeat;
    padding: 3rem;
}

.section-1 {
    text-align: start;
}

.section-1 h1 {
    font-size: 4rem;
    display: block;
    width: 33rem;
}

.section-1 p {
    font-size: 1.2rem;
    width: 33rem;
    font-weight: 500;
}

.get-started-btn {
    background-color: #6370e4 !important;
    margin-top: 1.5rem !important;
    border-radius: 15px !important;
    font-size: 0.95rem !important;
    padding: 1.2rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none !important;
}
