.modal-style::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    min-width: 25%;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 1.5rem;
    padding: 2rem;

    overflow-y: scroll;
    max-height: 80%;
}
.center {
    width: 100%;
    text-align: center;
}
.center button {
    margin-left: 3px;
}

.content-center {
    text-align: center;
    padding: 10px;
}
.content-center.heading {
    margin-left: 5px;
}

.change-data {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.grid-data {
    margin-bottom: 20px;
}

.admin-board {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* //////////////////////////////////// */
.stats-section {
    margin-bottom: 3rem;
}

.pie-chart {
    display: flex !important;
    justify-content: center !important;
    padding-bottom: 2rem;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .modal-style {
        max-width: 90%;
        width: 80%;
        padding: 1rem;
    }
    .content-center {
        padding: 5px;
    }
}
